.feet {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}
.over {
  position: absolute;
  top: 20rem;
  z-index: 950;
}
